.about__description {
  width: 45%;
  box-sizing: border-box;
  padding: 60px 0 0 56px;
}

@media (max-width: 1000px) {
  .about__description {
    width: 60%;
    padding: 0 0 0 40px;
  }
}

@media (max-width: 768px) {
  .about__description {
    width: 100%;
    padding: 0 0 0 30px;
  }
}

@media (max-width: 416px) {
  .about__description {
    width: 100%;
    padding: 0;
  }
}
