.header-inner__head-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1233px;
}

@media (min-width: 1440px) {
  .header-inner__head-content {
    max-width: none;
  }
}
