.technologies__badge {
  width: 120px;
  height: 150px;
  margin-right: 40px;
  background-position: center 40px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #1a1b22;
}

.technologies__badge:last-of-type {
  margin-right: 0;
}

.technologies__badge_html {
  background-image: url(../../../../images/badges/html-badge.svg);
}

.technologies__badge_css {
  background-image: url(../../../../images/badges/css-badge.svg);
}

.technologies__badge_js {
  background-image: url(../../../../images/badges/js-badge.svg);
}

.technologies__badge_webpack {
  background-image: url(../../../../images/badges/webpack-badge.svg);
}

@media (max-width: 1200px) {
  .technologies__badge {
    margin-right: 20px;
  }
}

@media (max-width: 880px) {
  .technologies__badge {
    margin-right: 0;
  }
}

@media (max-width: 416px) {
  .technologies__badge {
    margin-bottom: 25px;
  }
}
