.search-results__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 15px;
  margin-bottom: 65px;
}

@media (max-width: 768px) {
  .search-results__cards {
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .search-results__cards {
    grid-template-columns: repeat(2, 1fr);;
    grid-auto-rows: auto;
    grid-gap: 15px;
    margin-bottom: 35px;
  }
}

@media (max-width: 470px) {
  .search-results__cards {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 8px;
    margin-bottom: 15px;
  }
}
