@import url(./__button/header-form__button.css);
@import url(./__input/header-form__input.css);

@keyframes ripple {
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

.header-form {
  position: relative;
  margin: 0;
}

/* .header-form:hover {
  animation-name: ripple;
  animation-duration: .5s;
  animation-timing-function: ease;
} */
