.header-inner__wrapper {
  padding: 45px 80px 85px 80px;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .header-inner__wrapper {
    padding: 35px 40px 50px 40px;
  }
}

@media (max-width: 416px) {
  .header-inner__wrapper {
    padding: 25px 15px 30px 15px;
  }
}
