.content-small-title {
  font-family: 'Robotoslab', sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.875rem;
  color: #1a1b22;
  width: 356px;
  margin: 0 0 50px 0;
}

.content-small-title_carousel-cell {
  margin: 0 0 3px 0;
}

@media (max-width: 768px) {
  .content-small-title_carousel-cell {
    font-size: 1.25rem;
    margin: 0;
  }
}

@media (max-width: 416px) {
  .content-small-title {
    font-size: 1.375rem;
    width: 100%;
  }
  .analytics-block__content .content-small-title {
    margin: 0 0 20px 0;
  }
}
