.search-results__card-image {
  min-height: 272px;
  height: 272px;
  width: 400px;
  object-fit: cover;
  position: relative;
  margin-top: -25px;
  margin-left: -25px;
  transition: height .3s;
}

@media (max-width: 1200px) {
  .search-results__card-image {
    min-height: 200px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .search-results__card-image {
    min-height: 150px;
    height: 150px;
  }
}

@media (max-width: 414px) {
  .search-results__card-image {
    min-height: 196px;
    height: 196px;
  }
}
