@import url(./__date/analytics-table-diagrams__date.css);
@import url(./__amount/analytics-table-diagrams__amount.css);
@import url(./__diagram/analytics-table-diagrams__diagram.css);

.analytics-table-diagrams {
  width: 100%;
  display: grid;
  grid-template-columns: 118px 1fr;
  grid-auto-rows: 24px;
  grid-row-gap: 56px;
  margin: 15px 0;
}

@media (max-width: 416px) {
  .analytics-table-diagrams {
    grid-template-columns: 80px 1fr;
    grid-row-gap: 24px;
    margin: 15px 0 0 0;
  }
}
