@import url(./__not-found/search-results__not-found.css);
@import url(./__title/search-results__title.css);
@import url(./__subtitle/search-results__subtitle.css);
@import url(./__not-found-icon/search-results__not-found-icon.css);
@import url(./__preloader-block/search-results__preloader-block.css);
@import url(./__preloader/search-results__preloader.css);
@import url(./__header/search-results__header.css);
@import url(./__results/search-results__results.css);
@import url(./__cards/search-results__cards.css);
@import url(./__card/search-results__card.css);
@import url(./__card-image/search-results__card-image.css);
@import url(./__card-date/search-results__card-date.css);
@import url(./__card-description/search-results__card-description.css);
@import url(./__card-agency-name/search-results__card-agency-name.css);
@import url(./__show-more-button/search-results__show-more-button.css);

.search-results {
  width: 100%;
  background-color: #f5f6f7;
  padding: 0 80px;
  box-sizing: border-box;
  transition: all .3s;
}

@media (max-width: 1000px) {
  .search-results {
    padding: 0 40px;
  }
}

@media (max-width: 416px) {
  .search-results {
    padding: 0 15px;
  }
}
