.carousel-cell__avatar {
  width: 64px;
  height: 64px;
  min-width: 64px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
}

.carousel-cell__avatar_img {
  width: 64px;
}

@media (max-width: 768px) {
  .carousel-cell__avatar {
    width: 48px;
    height: 48px;
    min-width: 48px;
  }
  .carousel-cell__avatar_img {
    width: 48px;
  }
}
