@import url(./__head-content/header-about__head-content.css);
@import url(./__head/header-about__head.css);
@import url(./__menu-item/header-about__menu-item.css);
@import url(./__menu-link/header-about__menu-link.css);
@import url(./__menu/header-about__menu.css);

.header-about {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  border-bottom: #d1d2d6 1px solid;
  padding: 0 80px;
  box-sizing: border-box;
  transition: padding .3s;
}

@media (max-width: 1000px) {
  .header-about {
    padding: 0 40px;
  }
}

@media (max-width: 416px) {
  .header-about {
    padding: 0 15px;
    height: 55px;
  }
}
