@import url(./__head-content/header-inner__head-content.css);
@import url(./__head/header-inner__head.css);
@import url(./__menu-item/header-inner__menu-item.css);
@import url(./__menu-link/header-inner__menu-link.css);
@import url(./__menu/header-inner__menu.css);
@import url(./__content/header-inner__content.css);
@import url(./__summary-title/header-inner__summary-title.css);
@import url(./__wrapper/header-inner__wrapper.css);

.header-inner {
  min-height: 425px;
}

@media (max-width: 1000px) {
  .header-inner {
    min-height: 335px;
  }
}

@media (max-width: 416px) {
  .header-inner {
    min-height: 232px;
  }
}
