.header-form__button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 32px;
  border-style: none;
  width: 168px;
  height: 64px;
  background-color: #2f71e5;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  transition: background .2s;
}

.header-form__button:hover {
  background-color: #347eff;
  cursor: pointer;
}

.header-form__button:focus {
  background-color: #2a65cc;
  outline: none;
}

@media (max-width: 768px) {
  .header-form__button {
    border-radius: 28px;
    height: 56px;
  }
}

@media (max-width: 416px) {
  .header-form__button {
    position: static;
    margin-top: 15px;
    width: 100%;
  }
}
