.content-paragraph-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-weight: 400;
  color: #1a1b22;
}

@media (max-width: 416px) {
  .content-paragraph-text {
    margin-bottom: 15px;
  }
}
