.logo {
  width: 138px;
  height: 21px;
}

.logo_main {
  margin-top: 25px;
}

@media (max-width: 416px) {
  .logo {
    width: 111px;
    height: 16px;
  }
  .logo_main {
    margin-top: 20px;
  }
}
