.button-link {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #1a1b22;
  text-decoration: none;
  padding-right: 18px;
  background: url(../../images/button-link-arrow.svg) no-repeat right center;
  background-size: 8px 13px;
  transition: opacity .2s;
}

.button-link:hover {
  opacity: .7;
}

@media (max-width: 416px) {
  .commits-history__header .button-link {
    display: none;
  }
}
