.commits-history__button {
  display: none;
}

@media (max-width: 416px) {
  .commits-history__button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    color: #1a1b22;
    text-decoration: none;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: calc(100% - 30px);
    margin: 25px auto 0 auto;
    border: #1a1b22 1px solid;
    border-radius: 28px;
  }
}
