.header-about__menu-item {
  padding: 0 0 32px 0;
  height: 50px;
  box-sizing: border-box;
}

.header-about__menu-item_active {
  border-bottom: #1a1b22 3px solid;
  color: #1a1b22;
}

@media (max-width: 416px) {
  .header-about__menu-item {
    padding: 0 0 32px 0;
    height: 38px;
    font-size: 1rem;
  }
  .header-about__menu-item_active {
    border-bottom: #1a1b22 3px solid;
    color: #1a1b22;
  }
}
