.search-results__card-agency-name {
  position: absolute;
  bottom: 5px;
  left: 25px;
  font-family: 'Robotoslab', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: .025rem;
  text-transform: uppercase;
  color: #b6bcbf;
}

@media (max-width: 768px) {
  .search-results__card-agency-name {
    left: 15px;
  }
}
