.header__head {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  border-bottom: rgba(196,196,196,.1) 1px solid;
  padding: 0 80px;
  box-sizing: border-box;
  transition: all .3s;
}

@media (max-width: 1000px) {
  .header__head {
    padding: 0 40px;
  }
}

@media (max-width: 416px) {
  .header__head {
    padding: 0 15px;
    height: 55px;
  }
}
