.analytics-table-scale__item {
  flex: 1;
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: .025rem;
  color: #b6bcbf;
  margin: 0;
}

.analytics-table-scale__item:last-of-type {
  display: flex;
  justify-content: space-between;
}
