.search-results__card {
  position: relative;
  min-height: 580px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  padding: 25px 25px 40px 25px;
  box-sizing: border-box;
  transition: all .3s;
}

.search-results__card:hover {
  box-shadow: 0px 20px 46px -31px #adadad;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .search-results__card {
    min-height: 420px;
    padding: 15px 15px 30px 15px;
  }
  .search-results__card:hover {
    box-shadow: none;
    transform: none;
  }
}

@media (max-width: 416px) {
  .search-results__card {
    min-height: 446px;
    padding: 15px 15px 30px 15px;
  }
  .search-results__card:hover {
    box-shadow: none;
    transform: none;
  }
}
