@import url(./__head/header__head.css);
@import url(./__menu/header__menu.css);
@import url(./__head-content/header__head-content.css);
@import url(./__menu-item/header__menu-item.css);
@import url(./__title-block/header__title-block.css);
@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__wrapper/header__wrapper.css);

.header {
  width: 100%;
  min-height: 576px;
  background: url(../../images/header-bg.jpg) no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    min-height: 400px;
    background: url(../../images/header-bg.jpg) no-repeat;
    background-size: cover;
  }
}

@media (max-width: 416px) {
  .header {
    min-height: 536px;
  }
}
