.carousel-cell__e-mail {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #1a1b22;
  text-decoration: none;
  width: 85%;
}
